*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.centratura{
  padding: 15px 15px;
  background-color: #141922FF;
  color: white;
}


h3{
  font-size: 30px;
}

/* NAV SINISTRA */

nav{
  background-color: #000;
  position: fixed;
  left: 0;
  top:0;
  height: calc(100% - 100px);
  width: 250px;
}

#logo1{
  width: 65%;
  height: auto;
  margin: 20px 7% 0 7%;
}

#logo2{
  display: none;
  width: 66%;
  height: auto;
  margin: 20px 17% 0 17%;
}

nav section{
  margin: 30px 7% 0 7%;
  color: rgb(98, 98, 98);
}

/* tools */

.nav-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.nm-item{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.nm-item img{
  width: 13%;
  height: auto;
  margin-right: 2%;
}

/* playlist */

.playlist h4{
  color: white;
}

.create{
  display: flex;
  align-items: center;
}

.create a{
  color: inherit;
}

.create i{
  font-size: 45px;
  margin:20px 10px 20px 0;
}

.playlist ul{
  height: 200px;
  overflow: scroll;
}

.playlist ul::-webkit-scrollbar {
  display: none;
}

.playlist ul li{
  list-style: none;
  margin: 15px 0;
}

.playlist ul li a{
  text-decoration: none;
  color: inherit;
}

/* nav-footer */

.nav-footer{
  position: absolute;
  bottom: 5px;
  margin-top: 3px;
}

.download{
  display: flex;
  align-items: center;
}

.download img{
  width: 8%;
  height: auto;
  margin-right: 10px;
}

.nav-footer hr{
  border: 1px solid rgb(98, 98, 98);
  margin: 10px 0;
}

.profile{
  display: flex;
  align-items: center;
}

.profile img{
  width: 12%;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
  background-color: grey;
}

.profile span{
  color: white;
}

@media all and (max-width:720px) {
  nav{
    width: 50px;
  }

  #logo1{
    display: none;
  }

  #logo2{
    display: block;
  }

  nav span{
    display: none;
  }

  .nm-item{
    display: block;
    width: 100%;
  }

  .nm-item img{
    width: 68%;
    margin: 0 16%;
  }

  .playlist{
    display: none;
  }

  .download img{
    width: 44%;
    margin: 20px 28%;
  }

  .nav-footer hr{
    display: none;
  }

  .profile img{
    width: 54%;
    margin: 0 23%;
  }
}

/* MAIN */

main{
  width: calc(100% - 250px);
  position: relative;
  right: -250px;
  top: 0;
}

@media all and (max-width:720px) {
  main{
    width: calc(100% - 50px);
    right: -50px
  }
}

main h4{
  margin: 10px 0;
  font-size: 20px;
}

main p{
  color: rgb(98, 98, 98);
  font-size: 15px;
  margin: 10px 0;
}

main .container{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

@media all and (max-width:1200px) {
  main .container{
    flex-wrap: wrap;
  }
}

/* upgrade */

#upgrade{
  background-color: #080B12FF;
  padding: 40px 0;
  height: auto;
}

#upgrade a{
  float: right;
  padding: 10px 20px;
  border: 1px solid rgb(149, 149, 149);
  color: rgb(149, 149, 149);
  text-decoration: none;
  font-size: 12px;
  border-radius: 20px;
  display: block;
  margin: -20px 2%;
}

#upgrade a:hover{
  border: 2px solid white;
  padding: 12px 22px;
  font-size: 13px;
  margin: -23px 1%;
  color: white;
}

/* main navbar */

#m-nav{
  background-color: #141922FF;
}

#m-nav .container{
  margin-top: 0;
  justify-content: center;
}

#m-nav a{
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  color: rgb(98, 98, 98);
}

.box-item{
  padding: 25px 0;
}

#m-nav a:hover{
  color:white;
}

.box-item:active{
  background-image: linear-gradient(green, green);
  background-repeat: no-repeat;
  background-size: 50px 6%;
  background-position: center bottom 25%;
}

/* Sezioni brani */

.played-item, .personal-item, .artists-item{
  width:200px;
  height:auto;
  text-align: center;
  margin-right: 20px;
}

.played-item:hover, .personal-item:hover, .artists-item:hover{
  filter: brightness(60%);
  cursor:pointer;
}

.played-item:hover .play-icon{
  display: block;
}

.personal-item:hover .play-icon{
  display: block;
}

.artists-item:hover .play-icon{
  display: block;
}

.personal-item img,.artists-item img,.played-item img{
  width: 100%;
  height: auto;
}

.artists-item img{
  border-radius: 50%;
}

.artists{
  padding-bottom: 100px;
}

.play-icon{
  position: absolute;
  display: none;
  top:70px;
  width:100%;
  left:0px;
  right:0px;
  z-index:100;
}

.play-icon i{
  font-size: 60px;
}



/* PLAYER */

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding:25px 1%;
  background-color: #282828FF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

footer a{
  color: inherit;
}
/* sinistra */
.current{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.current-item{
  color: rgb(98, 98, 98);
}

.current-item h5{
  font-size: 18px;
  color: white;
}

.current-item i{
  font-size: 22px;
  margin: 0 1%;
}

.current-item img{
  width: 80px;
  height: auto;
}
/* centrale */

.player{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* buttons */

.player .p-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.player .p-button .button-item{
  margin: 0 2%;
  font-size: 16px;
}

.p-button .button-item:nth-child(3) {
  font-size: 35px;
  margin: 0 3%;
}

/* time bar */

.player .time{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.time .time-item:nth-child(2){
  width: 85%;
}

.time-item hr{
  border-radius: 10px;
  border: 2px solid rgb(98, 98, 98);
  margin: 20px 3%;
}

/* destra */

.settings{
  width: 15%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
}

.settings .settings-item i{
  color: white;
}

.settings .settings-item hr{
  width: 150px;
  border: 2px solid rgb(98, 98, 98);
  border-radius: 10px;
}

@media all and (max-width:1300px) {
  .current{
    width: 22%;
  }

  .player{
    width: 40%;
  }

  .settings{
    width: 22%;
    min-width: 100px;
  }

  .settings .settings-item hr{
    width: 80px;
  }
}

@media all and (max-width:720px) {
  footer{
    justify-content: flex-start;
  }

  .current{
    width: 30%;
  }

  .player{
    width: 40%;
  }

  .settings{
    width: 30%;
    min-width: 100px;
  }

  .settings .settings-item hr{
    width: 80px;
  }
}
